@import '@/styles/mixins';

.section {
  @include padding-y(20px);
}

.title {
  @include padding-y(20px);

  font-weight: bold;
  font-size: 20px;
}

.paragraph {
  margin-bottom: 12px;
  // text-indent: 1.25em;
}

.image {
}

.poem {
  @include padding-y(10px);
  padding-left: 40px;
}

.epigraph {
}

.stanza {
}

.image {
  display: flex;
  justify-content: center;
}

.v {
  font-style: italic;
}

.textAuthor {
  font-weight: 500;
}

.subtitle {
  font-weight: bold;
  text-align: center;
}

.cite {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & > * {
    width: 100%;

    @include media('>=500px') {
      min-width: 400px;
      max-width: 60%;
    }
  }
}

.code {
  margin-bottom: -5px;
  border-left: solid 2em #a8d9c8;
  color: #000;
  font-family: monospace;
}

.link {
  color: #0000ff;
  &:hover {
    text-decoration: underline;
  }
}
.linkTooltip {
  z-index: 10;
  position: absolute;
  width: 75%;
  max-width: 600px;
  padding: 8px 24px;
  border: 1px solid var(--gray-500);
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0 0 10px var(--gray-400);
  font-weight: 400;

  .title {
    padding: 0;
  }
}
