@import '@/styles/mixins';

.section {
  @include padding-y(20px);

  :global(.debug) & {
    background-color: #ddfad2;
  }
}

.title {
  @include padding-y(20px);

  font-weight: bold;
  font-size: 20px;

  :global(.debug) & {
    background-color: #d2f3fa;
  }
}

.paragraph {
  margin-bottom: 5px;
  text-indent: 1.25em;

  :global(.debug) & {
    background-color: #d2d9fa;
  }
}

.image {
  :global(.debug) & {
    background-color: #e5d2fa;
  }
}

.poem {
  @include padding-y(10px);
  padding-left: 40px;

  :global(.debug) & {
    background-color: #fad2ef;
  }
}

.epigraph {
  :global(.debug) & {
    background-color: #fad2d2;
  }
}

.stanza {
  :global(.debug) & {
    background-color: #7ea2e5;
  }
}

.image {
  display: flex;
  justify-content: center;

  :global(.debug) & {
    background-color: #e57e9d;
  }
}

.v {
  font-style: italic;

  :global(.debug) & {
  }
}

.textAuthor {
  font-weight: 500;

  :global(.debug) & {
  }
}

.subtitle {
  font-weight: bold;
  text-align: center;

  :global(.debug) & {
    background-color: #e7d91d;
  }
}

.cite {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & > * {
    width: 100%;

    @include media('>=500px') {
      min-width: 400px;
      max-width: 60%;
    }
  }
}

.code {
  margin-bottom: -5px;
  border-left: solid 2em #a8d9c8;
  color: #000;
  font-family: monospace;
}

.link {
  color: #0000ff;
  &:hover {
    text-decoration: underline;
  }
}
.linkTooltip {
  position: absolute;
  padding: 10px;
  border: 1px solid black;
  background-color: white;

  .title{
    padding: 0;
  }
}
