@import '@/styles/mixins';

.list {
  & > * + * {
    margin-top: 8px;
  }
}

.openButton {
  display: flex;
  align-items: center;
  padding: 0 8px;
  flex: 1;

  .name{
    flex: 1;

  }

  .progress{
    color: #999;
    padding-left: 20px;
  }
}

.removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  background-color: pink;
}

.item {
  display: flex;
  height: 40px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  overflow: hidden;

  & > * {
    height: 100%;
  }
}
