@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';
@import 'mixins';
@import 'accessibility';

:root {
  @each $palette-name, $palette in $colors {
    @each $shade, $color in $palette {
      --#{"" + $palette-name}-#{$shade}: #{$color};
    }
  }

  --main-bg-color: var(--slate-100);
  --main-text-color: var(--slate-900);
  --main-font-family: sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font-family);

  &.with-scroll {
    overflow-y: scroll;
  }
}
