@import '@/styles/mixins';

.container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightgoldenrodyellow;
  padding: 8px;
}

//.visualBlock {
//  $size: 100px;
//  position: absolute;
//  top: #{-$size/2};
//  left: #{-$size/2};
//  @include size($size);
//  display: flex;
//  align-items: center;
//  border-radius: 50%;
//  background-color: pink;
//  transition: all .2s ease-in-out;
//
//  .container:hover & {
//    top: 20px;
//    left: 20px;
//  }
//}

.buttons {
  display: flex;
  & > * + * {
    margin-left: 12px;
  }

  button{
    @include size(32px);
  }
}


